.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 500px;
    width: 500px;
    border: 5px solid black;
}

.square {
    height: calc(100% / var(--grid-rows));
    width: calc(100% / var(--grid-rows));
    border: 1px solid black;
    box-sizing: border-box;
}

.btnMap {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 25px;
}